.App {
  background-color: black;
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #c21515;
}

/* adding .Navbar styling */
.Navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#loggedin {
  font-size: 14px;
}

.image {
  width: 370px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
  .is-emphasized {
  font-weight: bold;
  color: #000;
}

h1 {
  color: white;
  font-weight: bolder;;
  font-size: x-large;
  text-shadow: #282c34;
}

li {
  list-style-type: none;
  color: white;
  background-color:black;
  font-size: medium;
  font-weight: bold;
  border-style: solid;
  box-sizing: content-box;
  box-decoration-break: slice;
  text-align: center;
  justify-content: center
}

ol {
  padding: 0;
  border-style: ridge;
}

div {
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.39);
}

a {
  color: rgba(255, 0, 0, 0.411);
}

.href {
  color: rgba(255, 0, 0, 0.411);
}

.Fighters-card {
  width: 320px;
  height: 415px;
}

p {
  color:white;
  font-weight: bolder;;
}

ol {
  font-weight: bolder;
  font-style: normal;
  background-color: black;
}

Button {
  background-color: red;
}

label {
  color: white;
}

img {
  color: white;
  background-color: black;
  border-color: white;
}

img:hover {
  background-color: white;
}

/* .logo {
  background-color: transparent;
} */

.MainContainer {
  background-color: black;
}

.SecondContainer {
  background-color: black;
}