.App {
  text-align: center;
  background-color: gainsboro;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* adding .Navbar styling */
.Navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#loggedin {
  font-size: 7px;
}

.image {
  width: 370px;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  color: #333;
  }
  
  .is-emphasized {
  font-weight: bold;
  color: #000;
}

h1 {
  color: red;
}

p {
  color: maroon;
  background-color: whitesmoke;
}

li {
  background-color: lightgrey;
  list-style-type: none;
}

ol {
  padding: 0;
}

div {
  justify-content: center;
  text-align: center;
}
